http://www.grocery.com/open-grocery-database-project/

In [1]:
import pandas as pd

In [2]:
grocery_upc = pd.read_excel('../../data/01_raw/Grocery_UPC_Database.xlsx')

In [3]:
grocery_brands = pd.read_excel('../../data/01_raw/Grocery_Brands_Database.xlsx')

In [4]:
grocery_upc.head()

,grp_id,upc14,upc12,brand,name
0,1,35200264013,35200264013,Riceland,Riceland American Jazmine Rice
1,2,11111065925,11111065925,Caress,Caress Velvet Bliss Ultra Silkening Beauty Bar...
2,3,23923330139,23923330139,Earth's Best,Earth's Best Organic Fruit Yogurt Smoothie Mix...
3,4,208528800007,208528800007,Boar's Head,Boar's Head Sliced White American Cheese - 120 Ct
4,5,759283100036,759283100036,Back To Nature,Back To Nature Gluten Free White Cheddar Rice ...

In [5]:
grocery_upc.columns

Index(['grp_id', 'upc14', 'upc12', 'brand', 'name'], dtype='object')

In [15]:
grocery_upc.upc14[0]

35200264013

In [6]:
grocery_brands.columns

Index(['grb_id', 'Brand', 'No_of_items', 'Manufacturer', 'Address', 'Website'], dtype='object')

In [6]:
grocery_brands.head()

,grb_id,Brand,No_of_items,Manufacturer,Address,Website
0,1,Ahold,3562,"Ahold USA, Inc.",NaN,NaN
1,2,Careone,1154,"Ahold USA, Inc.",NaN,NaN
2,3,Roland,688,American Roland Food Corp.,"New York, NY 10010",www.rolandfood.com
3,4,Nature's Promise,487,"Ahold USA, Inc.",NaN,NaN
4,5,Mccormick,463,"McCormick & Co., Inc.","Hunt Valley, MD 21031-1100",www.mccormickgourmet.com

In [7]:
grocery_upc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110436 entries, 0 to 110435
Data columns (total 5 columns):
grp_id    110436 non-null int64
upc14     110436 non-null int64
upc12     110436 non-null int64
brand     110436 non-null object
name      110436 non-null object
dtypes: int64(3), object(2)
memory usage: 4.2+ MB

In [8]:
grocery_brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9084 entries, 0 to 9083
Data columns (total 6 columns):
grb_id          9084 non-null int64
Brand           9084 non-null object
No_of_items     9084 non-null int64
Manufacturer    5621 non-null object
Address         3384 non-null object
Website         2745 non-null object
dtypes: int64(2), object(4)
memory usage: 425.9+ KB