# Recipe Pricing

In [1]:
James =     ['Alvin Kamara','Alex Collins','Michael Thomas',
          'Adam Thielen','Evan Engram','Lamar Miller']

Ben =   ['Todd Gurley II','Royce Freeman','Larry Fitzgerald',
        'Cooper Kupp','Benjamin Watson','Robby Anderson']

Chris =     ['Dion Lewis','Rex Burkhead','Julio Jones',
          'Keenan Allen','Zach Ertz','Demaryius Thomas']

In [2]:
master_list = [James,Ben,Chris]

In [3]:
master_list

[['Alvin Kamara',
  'Alex Collins',
  'Michael Thomas',
  'Adam Thielen',
  'Evan Engram',
  'Lamar Miller'],
 ['Todd Gurley II',
  'Royce Freeman',
  'Larry Fitzgerald',
  'Cooper Kupp',
  'Benjamin Watson',
  'Robby Anderson'],
 ['Dion Lewis',
  'Rex Burkhead',
  'Julio Jones',
  'Keenan Allen',
  'Zach Ertz',
  'Demaryius Thomas']]

In [4]:
new_list = []
for owner in master_list:
    owner = [word.replace('II','') for word in owner]
    new_list.append(owner)

In [5]:
new_list

[['Alvin Kamara',
  'Alex Collins',
  'Michael Thomas',
  'Adam Thielen',
  'Evan Engram',
  'Lamar Miller'],
 ['Todd Gurley ',
  'Royce Freeman',
  'Larry Fitzgerald',
  'Cooper Kupp',
  'Benjamin Watson',
  'Robby Anderson'],
 ['Dion Lewis',
  'Rex Burkhead',
  'Julio Jones',
  'Keenan Allen',
  'Zach Ertz',
  'Demaryius Thomas']]

In [6]:
import pandas as pd
import numpy as np
import re

In [7]:
grocery_prices = pd.read_csv('../../data/02_intermediate/grocery_prices_full.csv')
recipes = pd.read_csv('../../data/02_intermediate/recipies_sr_inter.csv')

In [8]:
grocery_prices.drop(columns=['Unnamed: 0'], inplace=True)
recipes.drop(columns=['Unnamed: 0'], inplace=True)

Let's take a look at our two datasets

In [9]:
grocery_prices.head()

,date_collected,item_weight_count_vol,location,main_price,measure_words_main_price,price_per_lb,prod_aile,product,store
0,2019-08-29,6 ounce,60043,$5.79,NaN,NaN,Packaged Cheese,Athenos Crumbled Traditional Feta Cheese,Gordons
1,2019-08-29,5.2 ounce,60043,$5.79,NaN,NaN,Packaged Cheese,Boursin Garlic & Fine Herbs Gournay Cheese,Gordons
2,2019-08-29,8,60043,$2.39,NaN,NaN,Packaged Cheese,"Yoders Cheese, Fancy Shred, Mild Cheddar",Gordons
3,2019-08-29,8 ounce,60043,$4.79,NaN,NaN,Packaged Cheese,"Sartori Cheese, Shredded, Parmesan",Gordons
4,2019-08-29,8,60043,$2.39,NaN,NaN,Packaged Cheese,"Yoders Cheese, Fancy Shred, Low Moisture Part ...",Gordons

In [10]:
recipes.head()

,title,prep_time,cook_time,recipe_yield,tags,ingredients,entire_card,recipe_links
0,Grilled Cheese BLT,10 minutes,10 minutes,4 sandwiches,"'Dinner', 'Lunch', 'Sandwich', 'Favorite Summe...","['Ingredients', '8 slices sourdough bread', '4...","['\n\n ', '\n ...",https://www.simplyrecipes.com/recipes/grilled_...
1,Pulled Pork Sandwich,10 minutes,"2 hours, 45 minutes",Serves 6 to 8,"'Dinner', 'Sandwich', 'Budget', 'Comfort Food'...","['Ingredients', 'For the sauce:', '1 large oni...","['\n\n ', '\n ...",https://www.simplyrecipes.com/recipes/pulled_p...
2,How to Make Bacon in the Oven,5 minutes,20 minutes,12 strips,"'Tips', 'Breakfast and Brunch', 'Baking', 'How...","['Ingredients', '12 strips bacon', '1/2 teaspo...","['\n\n ', '\n ...",https://www.simplyrecipes.com/recipes/how_to_m...
3,Sausage Stuffed Zucchini,15 minutes,1 hour,Serves 4,"'Dinner', 'Favorite Summer', 'Make-ahead', 'It...","['Ingredients', '2 tablespoons extra virgin ol...","['\n\n ', '\n ...",https://www.simplyrecipes.com/recipes/italian_...
4,The Best Dry Rub for Ribs,5 minutes,NaN,NaN,"'Favorite Fall', 'Favorite Summer', 'Game Day'...","['Ingredients', '3/4 cup packed dark brown sug...","['\n\n ', '\n ...",https://www.simplyrecipes.com/recipes/the_best...

## let's make dictionary of recipe and ingredients

In [11]:
ingredients_lists = recipes.ingredients

Let's isolate the actual ingredients

In [12]:
ingredients_lists_new = []
for element in ingredients_lists:
    try:
        ingredients_lists_new.append(re.search("\'Ingredients\', (.*)]", element).group(1))
    except:
        pass
        ingredients_lists_new.append("none")

Let's just grab the thing within quotes

In [13]:
l = []
for recipe in ingredients_lists_new:
    try:
        l.append(re.split("\'(.*?)\'", recipe))
    except:
        pass
        l.append("none")

Get's rid of quotes with just a comma

In [14]:
# Note, this line needs to be run three times. Fix this later.
count = 0
while count <= 3:
    count = count + 1
    for sub_list in l:
        try:
            for idx, element in enumerate(sub_list):
                if element == ", ":
                    sub_list.pop(idx)
        except:
            pass

Gets ridd of quotes with lots of spaces

In [15]:
# Note, this line needs to be run three times. Fix this later.
count = 0
while count <= 3:
    count = count + 1
    for sub_list in l:
        try:
            for idx, element in enumerate(sub_list):
                if element == "                                              ":
                    sub_list.pop(idx)
        except:
            pass

In [16]:
# Note, this line needs to be run three times. Fix this later.
count = 0
while count <= 3:
    count = count + 1
    for sub_list in l:
        try:
            for idx, element in enumerate(sub_list):
                if element == "\ ":
                    sub_list.pop(idx)
        except:
            pass

In [17]:
for element in l:
    try:
        while("" in element) : 
            element.remove("")
    except:
        pass

In [18]:
new_list = []
for ingr_list in l:
    ingr_list = [word.replace('\\\\xa0', ' ') for word in ingr_list]
    new_list.append(ingr_list)

In [19]:
final_list = []
for il in new_list:
    il = [word.replace('\\xa0', ' ') for word in il]
    final_list.append(il)

In [20]:
food_titles = list(recipes.title)

In [21]:
food_titles_new = []
new_list = []
for title in food_titles:
    try:
        title = [word.replace('\\xa0', ' ') for word in title]
        food_titles_new.append(title)
    except:
        food_titles_new.append('none')

In [22]:
recipe_dict = dict()
for title, recipes in zip(food_titles_new, final_list):
    recipe_dict[title] = recipes

TypeError: unhashable type: 'list'

In [ ]:
recipe_dict