# Finding Meals that Conform to Your Taste Within Budget

## Introduction 

According to a recent [survey](https://www.iol.co.za/lifestyle/food-drink/many-cookbooks-yet-same-old-supper-1824825), although Americans have on average 6 cookbooks in the home, they make the same 9 meals on rotation. Part of this lack of diversity is likely the fear of preparing a new meal that does not conform to your taste profile and goes to waste. 

### Project Objective

In this project, my aim is to help discover new meals that will conform to a users specific tastes within their budget. 

### Datasets

1. **Instacart Market Basket Analysis Datasets**
    - order_products__prior: dataset of 32.4m shopping carts
    - ailes: 132 unique store ailes
    - departments: 24 unique departments
    - products: 49.7k unique products. 
    
    
2. **Mariano's Grocery Prices**: 


3. **Simply Recipes recipe database**

### Summery of Results

blah blah blah blah

## Data Collection and Analysis

In order to start our project we will need a number of diverse datasets. First, we will need a dataset filled with different users food preferences. Because food rating data is difficult to come by, we can instead use point of purchase grocery store data for users and utilize implicit feedback (i.e., assume that customers that bought an item liked the item). 

Second, we need a repository of diverse recipes. Although a number of recipe datasets are available online, no dataset that I found has all the required attributes. Because of the lack of appropriate available data, this data will need to be collected from a website via webscraping. 

Third, we will need a database of grocery prices for pricing our recipes. Because datasets with prices are vew and far between, and quickly outdated, we will need to manually collect grocery pricing data from a store website.

### Instacart Market Basket Analysis Datasets

Since we have the Instacart Market Basket Analysis Datasets from Kaggle, let's take a look to better understand what other data we will need to collect in order to complete this project.

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
aisles = pd.read_csv('../../data/01_raw/instacart_2017_05_01/aisles.csv')
departments = pd.read_csv('../../data/01_raw/instacart_2017_05_01/departments.csv')
order = pd.read_csv('../../data/01_raw/instacart_2017_05_01/order_products__prior.csv')
products = pd.read_csv('../../data/01_raw/instacart_2017_05_01/products.csv')

In [6]:
aisles.head(2)

   aisle_id                  aisle
0         1  prepared soups salads
1         2      specialty cheeses

In [7]:
departments.head(2)

   department_id department
0              1     frozen
1              2      other

In [8]:
order.head(2)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1

In [9]:
products.head(2)

   product_id                product_name  aisle_id  department_id
0           1  Chocolate Sandwich Cookies        61             19
1           2            All-Seasons Salt       104             13